@media (max-width:1166px) {
    .call-roulette__div{
        display: none;
    }
    .container-game{
        flex-direction: column;
    }
    .roulette{
        width: 80%;
    }
    .img-roulette{
        width: 300px;
    }
    .board-div{
        width: 80%;
    }
    .number-div{
        width: 100%;
    }
    .container{
        text-align: center;
    }

    
}

@media (max-width:450px) {
    .img-roulette{
        width: 200px;
    }
    
}

@media (max-width:311px) {
    .img-roulette{
        width: 150px;
    }
}